Package       Version
------------- -------
attrs         21.4.0
autopep8      1.6.0
blinker       1.4
click         7.1.2
coverage      6.3.1
Flask         1.1.2
iniconfig     1.1.1
itsdangerous  1.1.0
Jinja2        2.11.2
MarkupSafe    1.1.1
packaging     21.3
pip           20.3.4
pkg-resources 0.0.0
pluggy        1.0.0
py            1.11.0
pycodestyle   2.8.0
pyparsing     3.0.7
pytest        7.0.0
pytest-cov    3.0.0
pytest-flask  1.2.0
pytest-mock   3.7.0
setuptools    44.1.1
toml          0.10.2
tomli         2.0.0
Werkzeug      1.0.1
